.StarFox64 {
    width: 20%;
    color: darkolivegreen;
    text-align: center;
    margin: auto;
    font-style: italic;
    
}

#StarFoxBoxArt {
    width: 50%;
    margin: auto;
    display: block;
}

#Mvc_cover {
    width: 50%;
    margin: auto;
    display: block;
}

#Oblivion_cover {
    width: 50%;
    margin: auto;
    display: block;
}

ul {
    width: 50%;
    list-style-type: none;
    color: slateblue;
    margin: auto;
    text-align: center;
    
    
}

li {
    display: block;
    background-color: springgreen;
    padding: 8px;
    border-bottom: 2px black solid;
}

li:last-child {
    border-bottom: none;
}